.table-container {
    padding: 20px;
    max-width: 1200px;
    /* Điều chỉnh kích thước tối đa của bảng */
    margin: 0 auto;
    /* Đặt bảng vào giữa trang */
}

.table {
    width: 100%;
    /* Đảm bảo bảng chiếm toàn bộ chiều rộng của container */
    border-collapse: collapse;
    /* Xóa khoảng cách giữa các ô */
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    /* Thêm đường viền cho các ô */
    padding: 8px;
    /* Thêm khoảng cách bên trong ô */
    text-align: left;
    /* Căn lề trái cho nội dung */
}

.btn-sm {
    margin-right: 10px;
    padding: 10px;
}