.content-products .products {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.content .content-products p {
    font-weight: 500;
}

.content .content-products h4 {
    margin: 30px 0;
}

.content .content-products .caption {
    text-align: center;
}


.content-products .products {
    text-align: center;
}

.content-products .products .products-item {
    margin-bottom: 20px;
}

.content-products .products .products-item .card-text {
    color: #ff2a2d;
}

.content .banner img {
    width: 100%;
    height: auto;
    display: block;
}